/* .navbar {
    background: var(--white);
} */

/* .footer {
    background: var(--white);
} */

/* .navbar_link {
    font-weight: 600;
} */

/* @media screen and (max-width: 1090px) {
    .navbar {
        background: linear-gradient(90deg, rgb(48, 224, 230) 0%, rgb(250, 229, 250) 40%);
    }
} */